.coin-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.coin-image {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.coin-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.coin-symbol {
  font-size: 14px;
  color: #777;
}

.coin-price {
  font-size: 14px;
}