.coin-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242526;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    color: #fff;
}

.coin-card:hover {
    transform: translateY(-5px);
}

.coin-image {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.coin-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.coin-name {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 5px;
}

.coin-symbol {
    font-size: 0.8rem;
    color: #6c757d;
}

.coin-price {
    font-size: 1rem;
    margin-bottom: 5px;
}

.coin-volume {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.coin-percent {
    font-size: 0.9rem;
    font-weight: 500;
}

.red {
    color: #dc3545;
}

.green {
    color: #28a745;
}

.coin-marketcap {
    font-size: 0.9rem;
}