.crypto-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    width: 95%; /* Slightly smaller width */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .crypto-image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
  }
  
  .crypto-details {
    flex-grow: 1;
    text-align: left;
  }
  
  .crypto-name {
    font-size: 1.2em;
    margin: 0;
    color: #333;
  }
  
  .crypto-symbol {
    font-size: 0.9em;
    color: #666;
    margin: 0;
  }
  
  .crypto-data {
    text-align: right;
  }
  
  .crypto-price {
    font-size: 1em;
    margin: 5px 0;
    color: #333;
  }
  
  .crypto-volume {
    font-size: 0.8em;
    margin: 5px 0;
    color: #777;
  }
  
  .crypto-percent {
    font-weight: bold;
    margin: 5px 0;
  }
  
  .red {
    color: red;
  }
  
  .green {
    color: green;
  }