.crypto-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.crypto-search {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crypto-text {
  margin-bottom: 32px;
  text-align: center;
}

.crypto-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );

  color: #e2e2e2;
}

.crypto-input::placeholder {
  color: #d1d1d1;
}

.crypto-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crypto-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d3d3d3;
  width: 900px;
  padding: 0 2rem;
}

.crypto-row:hover {
  background-color: #313131;
  transition: 0.3s ease-out;
}

.crypto {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.crypto img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.crypto h1 {
  font-size: 16px;
  width: 150px;
}

.crypto-symbol {
  text-transform: uppercase;
}

.crypto-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  align-items: center;
}

.crypto-price {
  width: 110px;
}

.crypto-volume {
  width: 155px;
}

.crypto-marketcap {
  width: 230px;
}

.crypto-percent {
  width: 70px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}