.food-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px; /* Adjust width as needed */
}

.food-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.food-details {
  width: 100%;
}

.food-name {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.food-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 8px;
}

.food-price {
  font-weight: bold;
}