.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.App-header nav ul li {
  margin: 0 10px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}