.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.counter-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.counter-button {
  padding: 10px 20px;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #282c34;
}

.counter-button:hover {
  background-color: #47a7c7;
}

.counter-value {
  font-size: 30px;
  margin: 0 20px;
}