body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  padding: 20px;
}

.App-footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}