.App {
  text-align: center;
  padding: 20px;
}

.crypto-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.crypto-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  text-align: left;
}

.crypto-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.crypto-details {
  display: inline-block;
}