.App {
  text-align: center;
  padding: 20px;
}

.loading {
  font-size: 1.5em;
  color: blue;
}

.error {
  font-size: 1.5em;
  color: red;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}